/modules/arangodb @nshine
/modules/azurite @pffijt
/modules/clickhouse @yakimka
# /compose
# /core
/modules/elasticsearch @nivm @daTokenizer
/modules/google @tillahoffmann
/modules/kafka @ash1425
/modules/keycloak @timbmg
/modules/localstack @ImFlog
/modules/minio @maltehedderich
/modules/mongodb @dabrign
# /modules/mssql
# /modules/mysql
/modules/neo4j @eastlondoner
# /modules/nginx
/modules/opensearch @maltehedderich
# /modules/oracle
# /modules/postgres
/modules/rabbitmq @KerstenBreuer
/modules/redis @daTokenizer
# /modules/selenium
