[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
crayons = "*"
SQLAlchemy = "*"
wrapt = "*"
pipenv = "*"
blindspin = "*"
psycopg2 = "*"
pytest-cov = "*"
PyYAML = "*"
PyMySQL = "*"
webdriver-manager = "*"
pytest = "*"
docker = "*"
pymongo = "*"
selenium = "*"
