[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
docker = "*"
wrapt = "*"
psycopg2 = "*"
pymongo = "*"
pytest = "*"
pytest-cov = "*"
selenium = "*"
webdriver-manager = "*"
PyMySQL = "*"
SQLAlchemy = "*"
progressbar2 = "*"
