[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

["dev-packages"]
codecov = "*"

[packages]
crayons = "*"
wrapt = "*"
pipenv = "*"
blindspin = "*"
"pytest-cov" = "*"
"webdriver-manager" = "*"
pytest = "*"
docker = "*"
docker-compose = "*"
pymongo = "*"
selenium = "*"
sqlalchemy = "*"
pymysql = "*"
google-cloud-pubsub = "*"
psycopg2-binary = "*"
