[tool.poetry]
name = "testcontainers"
version = "4.9.0"  # auto-incremented by release-please
description = "Python library for throwaway instances of anything that can run in a Docker container"
authors = ["Sergey Pirogov <automationremarks@gmail.com>"]
maintainers = [
    "Balint Bartha <totallyzen@users.noreply.github.com>",
    "David Ankin <daveankin@gmail.com>",
    "Vemund Santi <vemund@santi.no>"
]
readme = "README.md"
keywords = ["testing", "logging", "docker", "test automation"]
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Operating System :: MacOS",
]
# testcontainers-core is a proper package dependency - only modules needed here
packages = [
    { include = "testcontainers", from = "core" },
    { include = "testcontainers", from = "modules/arangodb" },
    { include = "testcontainers", from = "modules/aws"},
    { include = "testcontainers", from = "modules/azurite" },
    { include = "testcontainers", from = "modules/cassandra" },
    { include = "testcontainers", from = "modules/chroma" },
    { include = "testcontainers", from = "modules/clickhouse" },
    { include = "testcontainers", from = "modules/cockroachdb" },
    { include = "testcontainers", from = "modules/cosmosdb" },
    { include = "testcontainers", from = "modules/db2" },
    { include = "testcontainers", from = "modules/elasticsearch" },
    { include = "testcontainers", from = "modules/generic" },
    { include = "testcontainers", from = "modules/test_module_import"},
    { include = "testcontainers", from = "modules/google" },
    { include = "testcontainers", from = "modules/influxdb" },
    { include = "testcontainers", from = "modules/k3s" },
    { include = "testcontainers", from = "modules/kafka" },
    { include = "testcontainers", from = "modules/keycloak" },
    { include = "testcontainers", from = "modules/localstack" },
    { include = "testcontainers", from = "modules/mailpit" },
    { include = "testcontainers", from = "modules/memcached" },
    { include = "testcontainers", from = "modules/minio" },
    { include = "testcontainers", from = "modules/milvus" },
    { include = "testcontainers", from = "modules/mongodb" },
    { include = "testcontainers", from = "modules/mqtt" },
    { include = "testcontainers", from = "modules/mssql" },
    { include = "testcontainers", from = "modules/mysql" },
    { include = "testcontainers", from = "modules/nats" },
    { include = "testcontainers", from = "modules/neo4j" },
    { include = "testcontainers", from = "modules/nginx" },
    { include = "testcontainers", from = "modules/ollama" },
    { include = "testcontainers", from = "modules/opensearch" },
    { include = "testcontainers", from = "modules/oracle-free" },
    { include = "testcontainers", from = "modules/postgres" },
    { include = "testcontainers", from = "modules/qdrant" },
    { include = "testcontainers", from = "modules/rabbitmq" },
    { include = "testcontainers", from = "modules/redis" },
    { include = "testcontainers", from = "modules/registry" },
    { include = "testcontainers", from = "modules/sftp" },
    { include = "testcontainers", from = "modules/selenium" },
    { include = "testcontainers", from = "modules/scylla" },
    { include = "testcontainers", from = "modules/trino" },
    { include = "testcontainers", from = "modules/vault" },
    { include = "testcontainers", from = "modules/weaviate" },
]

[tool.poetry.urls]
"GitHub" = "https://github.com/testcontainers/testcontainers-python"
"Issue Tracker" = "https://github.com/testcontainers/testcontainers-python/issues"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
docker = "*" # ">=4.0"
urllib3 = "*" # "<2.0"
wrapt = "*" # "^1.16.0"
typing-extensions = "*"
python-dotenv = "*"

# community modules
python-arango = { version = "^7.8", optional = true }
azure-storage-blob = { version = "^12.19", optional = true }
cassandra-driver = { version = "3.29.1", optional = true }
clickhouse-driver = { version = "*", optional = true }
google-cloud-pubsub = { version = ">=2", optional = true }
google-cloud-datastore = { version = ">=2", optional = true }
influxdb = { version = "*", optional = true }
influxdb-client = { version = "*", optional = true }
kubernetes = { version = "*", optional = true }
pyyaml = { version = "*", optional = true }
python-keycloak = { version = "*", optional = true }
boto3 = { version = "*", optional = true }
minio = { version = "*", optional = true }
nats-py = { version = "*", optional = true }
pymongo = { version = "*", optional = true }
sqlalchemy = { version = "*", optional = true }
pymssql = { version = "*", optional = true }
pymysql = { version = "*", extras = ["rsa"], optional = true }
neo4j = { version = "*", optional = true }
opensearch-py = { version = "*", optional = true }
oracledb = { version = "*", optional = true }
pika = { version = "*", optional = true }
redis = { version = "*", optional = true }
selenium = { version = "*", optional = true }
weaviate-client = { version = "^4.5.4", optional = true }
chromadb-client = { version = "*", optional = true }
qdrant-client = { version = "*", optional = true }
bcrypt = { version = "*", optional = true }
httpx = { version = "*", optional = true }
azure-cosmos = { version = "*", optional = true }
cryptography = { version = "*", optional = true }
trino = { version = "*", optional = true }
ibm_db_sa = { version = "*", optional = true }

[tool.poetry.extras]
arangodb = ["python-arango"]
aws = ["boto3", "httpx"]
azurite = ["azure-storage-blob"]
cassandra = []
clickhouse = ["clickhouse-driver"]
cosmosdb = ["azure-cosmos"]
cockroachdb = []
db2 = ["sqlalchemy", "ibm_db_sa"]
elasticsearch = []
generic = ["httpx", "redis"] # The advance doctests for ServerContainer require redis
test_module_import = ["httpx"]
google = ["google-cloud-pubsub", "google-cloud-datastore"]
influxdb = ["influxdb", "influxdb-client"]
k3s = ["kubernetes", "pyyaml"]
kafka = []
keycloak = ["python-keycloak"]
localstack = ["boto3"]
mailpit = ["cryptography"]
memcached = []
minio = ["minio"]
milvus = []
mongodb = ["pymongo"]
mqtt = []
mssql = ["sqlalchemy", "pymssql"]
mysql = ["sqlalchemy", "pymysql"]
nats = ["nats-py"]
neo4j = ["neo4j"]
nginx = []
opensearch = ["opensearch-py"]
ollama = []
oracle = ["sqlalchemy", "oracledb"]
oracle-free = ["sqlalchemy", "oracledb"]
postgres = []
qdrant = ["qdrant-client"]
rabbitmq = ["pika"]
redis = ["redis"]
registry = ["bcrypt"]
selenium = ["selenium"]
scylla = ["cassandra-driver"]
sftp = ["cryptography"]
vault = []
weaviate = ["weaviate-client"]
chroma = ["chromadb-client"]
trino = ["trino"]

[tool.poetry.group.dev.dependencies]
mypy = "1.7.1"
pre-commit = "^3.6"
pytest = "7.4.3"
pytest-cov = "4.1.0"
sphinx = "7.2.6"
twine = "4.0.2"
anyio = "4.3.0"
# for tests only
psycopg2-binary = "2.9.9"
pg8000 = "1.30.5"
sqlalchemy = "2.0.28"
psycopg = "3.1.18"
cassandra-driver = "3.29.1"
pytest-asyncio = "0.23.5"
kafka-python-ng = "^2.2.0"
hvac = "2.1.0"
pymilvus = "2.4.3"
httpx = "0.27.0"
paho-mqtt = "2.1.0"
sqlalchemy-cockroachdb = "2.0.2"
paramiko = "^3.4.0"
types-paramiko = "^3.4.0.20240423"
pytest-mock = "^3.14.0"

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"

[tool.black]
line-length = 120

[tool.pytest.ini_options]
addopts = "--tb=short --strict-markers"
log_cli = true
log_cli_level = "INFO"
markers = [
    "inside_docker_check: mark test to be used to validate DinD/DooD is working as expected"
]

[tool.coverage.run]
branch = true
omit = [
    "oracle.py"
]

[tool.coverage.report]
exclude_lines = [
    "pass",
    "raise NotImplementedError" # TODO: used in core/generic.py, not sure we need DbContainer
]

[tool.ruff]
target-version = "py39"
line-length = 120
fix = true
src = ["core", "modules/*"]

[tool.ruff.lint]
fixable = ["I"]
exclude = ["**/tests/**/*.py"]
select = [
    # flake8-2020
    "YTT",
    # flake8-bugbear
    "B",
    # flake8-builtins
    "A",
    # flake8-comprehensions
    "C4",
    # flake8-debugger
    "T10",
    # flake8-print
    "T20",
    # flake8-pytest-style
    "PT",
    # flake8-simplify
    "SIM",
    # flake8-tidy-imports
    "TID",
    # flake8-type-checking
    "TCH",
    # isort
    "I",
    # mccabe
    "C90",
    # pycodestyle
    "E", "W",
    # pyflakes
    "F",
    # pygrep-hooks
    "PGH",
    # pyupgrade
    "UP",
    # ruff
    "RUF",
    # TODO: security, enable via line below
    # "S",
]
ignore = [
    # line too long (already checked by black)
    "E501",
    # the must-have __init__.py (we are using package namespaces)
    "INP001"
]

[tool.ruff.lint.pyupgrade]
keep-runtime-typing = true

[tool.ruff.lint.flake8-type-checking]
strict = true

[tool.mypy]
python_version = "3.9"
namespace_packages = true
explicit_package_bases = true
pretty = true
show_error_codes = true
strict = true
fast_module_lookup = true
modules = ["testcontainers.core"]
mypy_path = [
    "core",
#    "modules/arangodb",
#    "modules/azurite",
#    "modules/cassandra",
#    "modules/clickhouse",
#    "modules/elasticsearch",
#    "modules/google",
#    "modules/k3s",
#    "modules/kafka",
#    "modules/keycloak",
#    "modules/localstack",
    "modules/mailpit",
#    "modules/minio",
#    "modules/mongodb",
#    "modules/mssql",
#    "modules/mysql",
#    "modules/neo4j",
#    "modules/nginx",
#    "modules/ollama",
#    "modules/opensearch",
#    "modules/oracle",
#    "modules/postgres",
#    "modules/rabbitmq",
#    "modules/redis",
#    "modules/selenium"
    "modules/sftp",
#    "modules/vault"
#    "modules/weaviate"
]
enable_error_code = [
    "ignore-without-code",
    "redundant-expr",
    "truthy-bool",
]

[[tool.mypy.overrides]]
module = ['tests.*']
# in pytest we allow fixtures to be more relaxed, though we check the untyped functions
check_untyped_defs = true
disable_error_code = [
    'no-untyped-def'
]

[[tool.mypy.overrides]]
module = ['docker.*']
# docker still doesn't have type annotations (not even 7.0)
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = ['wrapt.*']
# wrapt doesn't have type annotations
ignore_missing_imports = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
