-e file:arangodb
-e file:azurite
-e file:clickhouse
-e file:core
-e file:compose
-e file:cosmosdb
-e file:elasticsearch
-e file:google
-e file:kafka
-e file:keycloak
-e file:localstack
-e file:meta
-e file:minio
-e file:mongodb
-e file:mssql
-e file:mysql
-e file:neo4j
-e file:nginx
-e file:opensearch
-e file:oracle
-e file:postgres
-e file:rabbitmq
-e file:redis
-e file:selenium
-e file:toxiproxy
cryptography<37
flake8<3.8.0  # 3.8.0 adds a dependency on importlib-metadata which conflicts with other packages.
pg8000
pytest
pytest-cov
sphinx
twine
wheel