jsonschema == 2.5.1
lxml == 3.3.3
mock == 2.0.0
redis == 2.10.5
selenium == 2.53.6
zope.interface == 4.0.5
Cython == 0.24.1
pyOpenSSL == 16.0.0
argcomplete == 1.4.1
certifi == 2016.8.8
charade == 1.0.3
ed25519ll == 0.6
Genshi == 0.7
protobuf == 3.0.0
ipaddr == 2.1.11
java == 0.0.1
keyring == 9.3.1
ndg_httpsclient == 0.4.2
nt == 0.0.0
org == 1.0.0
pyasn1 == 0.1.9
setuptools_svn == 1.1
simplejson == 3.8.2
Twisted == 16.3.0
unittest2 == 1.1.0
wincertstore == 0.2
wsaccel == 0.6.2
pyxdg == 0.25
zope == 4.0
