# Contrinuous Integration for the core package

name: core

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14]
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: ./.github/actions/setup-env
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: poetry install --all-extras
      - name: Run twine check
        run: poetry build && poetry run twine check dist/*.tar.gz
      - name: Run tests
        run: make core/tests
      - name: Run doctests
        run: make core/doctests
