# Continuous Integration for the core package

name: lint

env:
  UV_FROZEN: "1"   # use lock file as is
  UV_NO_EDITABLE: "1"  # test the build package, not the dev installation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  python:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Env
        uses: ./.github/actions/setup-env
      - name: Execute pre-commit handler
        continue-on-error: true
        run: |
          uv run pre-commit run check-toml
          uv run pre-commit run trailing-whitespace
          uv run pre-commit run end-of-file-fixer
          uv run pre-commit run ruff
          uv run pre-commit run ruff-format
      - name: Execute mypy
        run: |
          make mypy-core-report
          make mypy-core
