name: Upload Python packages to PyPi
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-16.04
    env:
      python-version: 3.8
    steps:
      - uses: actions/checkout@v2

      - name: Setup python ${{ env.python-version }}
        uses: actions/setup-python@v2

      - name: Cache Python dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles(format('requirements/{0}.txt', env.python-version)) }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          pip install -r requirements/${{ env.python-version }}.txt

      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py bdist_wheel
          twine upload dist/*
