on:
  # TODO: disabled while refactoring the build/test pipeline - fix me before merging!
#  push:
#    branches: [main]
#  pull_request:
#    branches: [main]

jobs:
  requirements:
    strategy:
      fail-fast: false
      matrix:
        runtime:
        - machine: ubuntu-latest
          python-version: "3.7"
        - machine: ubuntu-latest
          python-version: "3.8"
        - machine: ubuntu-latest
          python-version: "3.9"
        - machine: ubuntu-latest
          python-version: "3.10"
        - machine: ubuntu-latest
          python-version: "3.11"
        - machine: windows-latest
          python-version: "3.10"
        - machine: macos-latest
          python-version: "3.10"
    runs-on: ${{ matrix.runtime.machine }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup python ${{ matrix.runtime.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.runtime.python-version }}
      - name: Update pip and install pip-tools
        run: pip install --upgrade pip pip-tools
      - name: Build requirements
        run: pip-compile --resolver=backtracking -v --upgrade -o requirements.txt
      - name: Store requirements as artifact
        uses: actions/upload-artifact@v3
        with:
          name: requirements-${{ matrix.runtime.machine }}-${{ matrix.runtime.python-version }}.txt
          path: requirements.txt
